.reveal section p {
colour: white;
  font-size: 1em;
}
.references {
  font-size: 0.6em; /* Passe dies nach Bedarf an */ 
}
.reveal section ul {
  font-size: 1em; /* Adjust the font size as needed */
}

.reveal section li {
  font-size: 0.9em;/* You can add other styles if needed */
}

.reveal {
  color: white;
  font-size: 2em; /* Scales all text within the presentation */
}

.citation {
    font-size: 0.5em;
    font-weight: bold;
    color: rgb(238, 232, 213) /* Adjust to your preferred size */
}

a {
    color: rgb(238, 232, 213) !important;
    text-decoration: none; /* Remove underline if desired */
}

a:hover {
    color: rgb(238, 232, 213) !important; /* Optional: Changes color on hover */
    text-decoration: underline; /* Optional: Adds underline on hover */
}

.no-parallax {
    background-attachment: fixed !important;
    background-size: cover;
    background-position: center;
}